/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin-left: auto;
	margin-right: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end css reset */
body {
	margin: 4px 4px 4px 10px;
}
h1 {
	float: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 2.075em;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}
h2 {
	clear: right;
	float: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.97em;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}
hr {
	visibility: hidden;
}
h3 {
	color: #BCBBBB;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.51685em;
	text-align: center;
	text-transform: uppercase;
}
.logo {
	float: left;
	opacity: 1;
	padding-bottom: 0.25em;
	width: 11.5%;
}
.mainimg {
	opacity: 0.85;
	width: 100%;
}
.col1of3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3.03375em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
.col2of3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3.03375em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
.col3of3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3.03375em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}
a:link {
	color: black;
	font-family: 'Wire One', sans-serif;
	font-size: 0.5em;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #BCBBBB;
}
.link {
	border: 0;
	max-width:100%;
	padding: 0;
}
