body {
  margin: 2em;
  max-width:1200px;
}
figure {
  margin: auto;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  clear: right;
  display: inline-block;
  float: right;
  font-size: 4.045em;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  clear: right;
  display: inline-block;
  float: right;
  font-size: 1.618em;
  margin: 0;
  text-transform: uppercase;
}
hr {
  clear: both;
  margin-top: 0em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  height:0;
  border-top: 0.25em solid #BCBBBB;
  border-bottom: 0em solid #BCBBBB;
}
img.logo {
  display: inline;
  float: left;
  padding-bottom: 1em;
  width: 7em;
}
img.mainimg {
  padding: 0 0;
  border: 0 0;
  margin: 0 0;
  width: 100%;
  max-width: 900px;
}
section {
    float: right;
    width: 85%;
    padding: 0;
    margin: 0;;
    }
div.container {
  float: left;
  margin-left: 6%;
  margin-top: 13%;
}
span.squares_i {
  display: inline-block;
  width: 3em;
  height: 3em;
}
span.squares_ii {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 3em;
}
span.sq_a {
  position: absolute;
  display: inline-block;
  width:0;
  height:0;
  line-height:0;
  border:2.5em solid #F8981C;
  border-bottom:2.5em solid #F8981C;
  left:0em;
  top:0em;
}
span.sq_b {
  position: absolute;
  display:inline-block;
  width:0;
  height:0;
  line-height:0;
  border:2.5em solid #BCBBBB;
  border-bottom:2.5em solid #BCBBBB;
  left:0em;
  top:6em;
}
span.sq_c {
  position: absolute;
  display:inline-block;
  width:0;height:0;
  line-height:0;
  border:2.5em solid #3482DF;
  border-bottom:2.5em solid #3482DF;
  left:0em;
  top:12em;
}
div.leftlink {
  text-align: center;
  display: inline-block;
  width: 33%;
  vertical-align: top;
  max-width: 300px;
}
div.rightlink {
  text-align: center;
  display: inline-block;
  width: 33%;
  vertical-align: top;
  max-width: 300px;
}
div.centerlink {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  width: 33%;
  vertical-align: top;
  max-width: 300px;
}
img.link {
  padding: 0 0;
  border: 0 0;
  margin: 0 0;
  max-width:92%;
}
